.main {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5em;
    flex-wrap: wrap;
  }
  &__topic {
    width: 19%;
    margin-bottom: 1em;
    margin-top: -1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(156 126 116 / 70%);
    border-top: 1px solid #ccb4a9;
    border-left: 1px solid #ccb4a9;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 50%);
    box-sizing: border-box;
    padding: 0 50px;
    color: #e1cdb6;
    text-align: center;
    height: 150px;
    font-weight: 500;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  &__quest {
    width: 19%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(66, 51, 46, 0.7);
    border-top: 1px solid #584f4b;
    border-left: 1px solid #584f4b;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 50%);
    box-sizing: border-box;
    padding: 0 50px;
    color: #e1cdb6;
    text-align: center;
    height: 150px;
    font-weight: 500;
    font-size: 3em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  &__modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    animation-name: appear;
    animation-duration: 300ms;
  }
}
.modal__container {
  width: 30%;
  height: auto;
  text-align: center;
  background-color: rgb(66, 51, 46);
  border-top: 1px solid #584f4b;
  border-left: 1px solid #584f4b;
  padding: 2em;
  display: flex;
  flex-direction: column;
  color: #a89a89;
  font-size: 1.2em;
  box-shadow: 1px 1px 14px 12px rgb(0 0 0 / 50%);
}
.form__container {
  width: 50%;
  background-color: rgb(66, 51, 46);
  border-top: 1px solid #584f4b;
  border-left: 1px solid #584f4b;
  padding: 2em;
  box-shadow: 1px 1px 14px 12px rgb(0 0 0 / 50%);
  box-sizing: border-box;
  margin-top: 2em;
  color: #a89a89;
}
input {
  border: 1px solid #a89a89;
  color: #a89a89;
  background: transparent;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 1em 0;
  outline: none;
  font-size: 1.2em;
}
input:focus {
  outline: none;
}
button {
  display: block;
  margin: 0.5em 0;
  color: #1d1610;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid transparent;
  background: #a89a89;
  padding: 0.5em 0;
  box-sizing: border-box;
  transition: 1s;
}
button:hover {
  color: #a89a89;
  border: 1px solid #a89a89;
  background: transparent;
  box-sizing: border-box;
}
.form_card {
  width: 19%;
}
.disable {
  pointer-events: none;
  color: #83715b;
  background-color: rgb(195 64 20 / 70%);
}